* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --primary-color: #223255; 
    --primary-hover: #42671e; 
    --accent-color: #f59e0b; 
    --text-dark: #1f2937;    
    --text-light: #78839a;   
    --bg-color: #f9fafb;  
    --font-main: "Inter", sans-serif;
    }
body{
        font-family: var(--font-main);
        background-color: var(--bg-color);
        color: var(--text-dark);
        line-height: 1.6;
        font-size: 16px;
}

    h1 {
        font-weight: 400;
        margin-bottom: 10px;
    }
    h2{
        font-weight: 400;
        margin-bottom: 10px;
    }
    h3{
        font-weight: 400;
        margin-bottom: 10px;
    }
    a{
        text-decoration: none;
        color: #b51212;
    }
    a:hover {
        color: #410404;
    }
    footer a {
        color: var(--text-dark);
     }
    .btn{
        display: inline-block;
        padding: 12px 24px;
        background-color: var(--primary-color);
        color: white;
        border-radius: 8px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px; 
        transition: all 0.3s ease;
        box-shadow: 0 4px 6px rgba(3, 16, 44, 0.2);
    }
    .btn:hover {
        background-color: var(--primary-hover);
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(37, 99, 235, 0.3);
    }
    .hero {
        height: 60vh;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://picsum.photos/1200/300');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
    }
    .hero h1 {
        font-size: 3rem;
        background-image: url('https://picsum.photos/1200/300');
        background-size: cover;
        background-position: center;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: none;
    }